% Basic environment options
{erl_opts, [debug_info, warnings_as_errors]}.

{minimum_otp_vsn, "23.0"}.

% Dependencies
{deps, [
        % External dependencies
        cowboy,
        jiffy,
        epgsql,
        eql
       ]}.

% Default application configurations for production environment
{relx, [{release, {x11_sentinel_server, git},
         [x11_sentinel_server, sasl]},
        {dev_mode, false},
        {include_erts, true},
        {include_src, false},
        {extended_start_script, true}]}.

% Configuration overrides for different environments
{profiles,
 [
  % Development configurations and dependencies
  {development, [{relx, [{sys_config, "./config/development.config"},
                         {vm_argsm, "./config/vm.args"},
                         {dev_mode, true},
                         {include_erts, false},
                         {include_src, true}]},
                 {deps, []},
                 {erl_opts, [{d, 'DEVELOPMENT'}]}]},

  % Test configurations and dependencies
  {test, [{relx, [{sys_config, "./config/test.config"},
                  {vm_argsm, "./config/vm.args"},
                  {dev_mode, true},
                  {include_erts, false}]},
          {deps, [gun]},
          {erl_opts, [{d, 'TEST'}]}]},

  % Production configurations and dependencies
  {production, [{relx, [{sys_config_src, "./config/production.config.src"},
                        {vm_args_src, "./config/vm.args.src"}]},
                {deps, []}]}
 ]}.
